/*介绍*/

.js_banner {
    background: url(../images/js_banner.png) no-repeat center;
    width: 100%;
    height: 100px;
    margin-bottom: 3em;
}

.js_main {
    width: 975px;
    margin: 0 auto;
    padding-bottom: 10em;
    margin-top: 4em;
}

.js_title {
    color: #595757;
    font-size:24px;
    border-bottom: dotted 1px #595757;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.js_main_content_1 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_1 {
    background: url(../images/js1.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: left;
    margin-right: 2em;
}

.js_content_right_1 {
    background: url(../images/js1-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: left;
    background-position: 3px 95px;
}

.js_content_right_1 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_1 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_2 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_2 {
    background: url(../images/js2.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: right;
    margin-right: 1em;
}

.js_content_right_2 {
    background: url(../images/js2-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: right;
    background-position: 3px 95px;
}

.js_content_right_2 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_2 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_3 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_3 {
    background: url(../images/js3.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: left;
    margin-right: 2em;
}

.js_content_right_3 {
    background: url(../images/js3-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: left;
    background-position: 3px 95px;
}

.js_content_right_3 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_3 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_4 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_4 {
    background: url(../images/js4.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: right;
    margin-right: 1em;
}

.js_content_right_4 {
    background: url(../images/js4-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: right;
    background-position: 3px 95px;
}

.js_content_right_4 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_4 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_5 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_5 {
    background: url(../images/js5.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: left;
    margin-right: 2em;
}

.js_content_right_5 {
    background: url(../images/js5-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: left;
    background-position: 3px 95px;
}

.js_content_right_5 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_5 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_6 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_6 {
    background: url(../images/js6.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: right;
    margin-right: 1em;
}

.js_content_right_6 {
    background: url(../images/js6-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: right;
    background-position: 3px 95px;
}

.js_content_right_6 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_6 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_7 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_7 {
    background: url(../images/js7.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: left;
    margin-right: 2em;
}

.js_content_right_7 {
    background: url(../images/js7-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: left;
    background-position: 3px 95px;
}

.js_content_right_7 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_7 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}

.js_main_content_8 {
    margin-bottom:3em;
    overflow: hidden;
    position: relative;
}

.js_content_left_8 {
    background: url(../images/js8.png) no-repeat center;
    height: 436px;
    width: 55%;
    float: right;
    margin-right: 1em;
}

.js_content_right_8 {
    background: url(../images/js8-.png) no-repeat center;
    height: 383px;
    width: 40%;
    float: right;
    background-position: 3px 95px;
}

.js_content_right_8 div:first-child {
    font-family: "Microsoft Yahei";
    color: #1b1b1b;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 18px;
    margin: 2em 0;
    font-weight: bold;
}

.js_content_right_8 div:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #595757;
    position: relative;
    top: 9em;
    left: 0.4em;
    font-size: 15px;
    line-height: 1.7em;
}


/*优势*/

.ys_banner {
    background: url(../images/ys_banner.png) no-repeat center;
    width: 100%;
    height: 100px;
    margin-bottom: 3em;
}

.ys_main {
    width: 920px;
    margin: 0 auto;
    padding-bottom: 10em;
    position: relative;
}

.ys_title {
    background: url(../images/vs_1.png) no-repeat;
    background-position: 50%;
    margin: 4em 0;
}

.ys_qfang {
    font-size: 2em;
    color: #f5ab00;
    font-weight: bold;
    float: left;
    margin-left: 5em;
}

.ys_title img {
    margin-left: 1em;
    margin-top: 1em;
}

.ys_qt {
    font-size: 2em;
    font-weight: bold;
    float: right;
    margin-right: 5em;
    margin-right: 9em\9;
    margin-top: -5em\9;
}

.ys_content {
    position: relative;
    overflow: hidden;
    margin-bottom: 5em;
}

.ys_content_left {
    width: 340px;
    height: 265px;
    border: 1px solid #facd89;
    border-radius: 10px;
    float: left;
    background: url(../images/free.png) no-repeat;
}

.ys_content_left h2 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.ys_content_left span {
    left: 3%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 300px;
    line-height: 25px;
}


/*.ys_vs{
    background: url(../images/vs_2.png) no-repeat;
    height: 205px;
    background-position: 50% 50%;

}*/

.ys_content_right {
    width: 340px;
    height: 265px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    float: right;
}

.ys_content_right span {
    left: 66%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 300px;
}

.ys_content img {
    position: absolute;
    top: 50%;
    left: 50%;
    left: 47%\9;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*成交案例*/

.al_banner {
    background: url(../images/al_banner.png) no-repeat center;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;
}

.al_main {
    width: 975px;
    margin: 0 auto;
    padding-bottom: 10em;
    position: relative;
    clear: both;
    margin-top: 4em;
}

.al_main a {
       margin:0 auto;
}


/*app*/

.app_banner {
    background: url(../images/app_banner.png) no-repeat center;
    width: 100%;
    height: 100px;
}

.app_main {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10em;
    position: relative;
}

#app_bg {
    background: url(../images/app_bg.png) no-repeat center;
    height: 616px;
    margin-top: -3px;
    position: relative;
}

#app_details {
    width: 1075px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.app_info {
    position: relative;
    width: 31%;
    padding: 4em 0em;
    float: left;
}

.app_info img {
    float: left;
    margin-right: 0.5em;
}

.app_info span {
    float: left;
    position: absolute;
}

.aoo_info:nth-child(2) {
    margin-left: 4em;
}


/*.app_ios a {
    font-family: "Microsoft Yahei";
    background: #4c83d6;
    display: inline-block;
    padding: 0.5em 8em;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    position: absolute;
    top: 25em;
    left: 36em;
}

.app_ios img {
    margin-right: 1em;
}

.app_android a {
    font-family: "Microsoft Yahei";
    background: #abcd05;
    display: inline-block;
    padding: 0.5em 8em;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    position: absolute;
    top: 30em;
    left: 36em;
}

.app_android img {
    margin-right: 1em;
}

#app_bg * {
    vertical-align: middle;
}*/

.app_btn {
    width: 627px;
    margin: 0 auto;
    height: 616px;
}

.app_ios a {
    font-family: "Microsoft Yahei";
    background: #4c83d6;
    display: inline-block;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    width: 20%;
    position: absolute;
    bottom: 12em;
    text-align: center;
}

.app_android a {
    font-family: "Microsoft Yahei";
    background: #abcd05;
    display: inline-block;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
    width: 20%;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 7em;
    text-align: center;
}

#app_bg * {
    vertical-align: middle;
}

.app_ios img {
    margin-right: 1em;
}

.app_android img {
    margin-right: 1em;
}


/*question*/

.question_banner {
    background: url(../images/question_banner.png) no-repeat center;
    width: 100%;
    height: 100px;
}

.question_main {
    width: 975px;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    background: -webkit-gradient(linear, 00% 00%, 00% 300%, from(#ffffff), to(#f5edcc));
    /*谷歌*/
    margin-bottom: 2em;
        padding-bottom: 1em;
}

.question_left {
    float: left;
}

.question_right {
    float: right;
}

.questio a {
    color: #000;
}

.questio li {
    line-height: 2em;
    margin-left: 2em;
}

.active {
    font-weight: bold;
    list-style: url('../images/point.png');
}

#question_content_left div {
    display: none;
}

#question_content_right div {
    display: none;
}

.question_content {
    width: 975px;
    margin: 0 auto;
    padding-bottom: 10em;
}

.question_content h2 {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

.question_content span {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

.question_content p {
    margin-bottom: 1em;
}

.question_content img {
    margin-left: 2em;
    max-width: 975px;
}
.return{
        position: fixed;
    top: 80%;
    left: 90%;
    z-index: 999;
}

@media screen and (min-width: 1080px) {
.app_btn {
    width: 610px;
}
@media screen and (min-width: 1280px){
.app_btn {
    width: 656px;
}
@media screen and (min-width: 1440px) {
.app_btn {
    width: 678px;
}
@media screen and (min-width: 1680px) {
.app_btn {
    width: 720px;
}

  @media screen and (min-width: 1900px) {
  .app_btn {
    width: 766px;
}
  }}}}}